SPRING_APPLICATION_NAME=auro
SERVER_PORT=8080

SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/aurov_reality_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Kolkata
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root
SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.MySQLDialect

APP_JWT_SECRET=replace_with_a_long_random_secret_key
APP_JWT_EXPIRATION_MS=86400000
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:8080
APP_SEED_ENABLED=false

TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=ed131bf338484b12177efc1a715afd4e
TWILIO_VERIFY_SERVICE_SID=VA4bb13daf331c67a3e3d68f753870a07f

APP_UPLOAD_EMPLOYEE_DOC_DIR=uploads/employee-documents

SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE=25MB
SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE=25MB

RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
RAZORPAY_CURRENCY=INR

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=badriblisssierra@gmail.com
SPRING_MAIL_PASSWORD=dnwkjfkdnzyubvow
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true

APP_OTP_DEV_MODE=false
APP_OTP_ALLOW_FALLBACK=false
APP_OTP_EXPOSE_FALLBACK_CODE=false



